input[type=text] {
    width: 15%;
    padding: 5px 7px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(255, 0, 0);
  }
 
  .calcinput {
    text-align: left;
  }