* {
    margin: 0;
    padding: 0;
  }

  /* The section below is for CSS for the background*/
  body {
    text-align: center;
    font-weight: 300;
    font-family: "Fira Sans", sans-serif;
    background-repeat: no-repeat;
    background: linear-gradient(128deg, rgb(2, 88, 25), rgba(0, 0, 0, 0) 70.71%),
                linear-gradient(329deg, rgb(2, 2, 70), rgba(0, 0, 0, 0) 70.71%)
                !important;
  }
  
  h1 {
    color: white
  }

  h2 {
    color: white
  }

  div {
    margin-top: 15px;
  }

  .rectangle {
    display: inline-block;
    width: 1000px;
    height: 700px;
    background: linear-gradient(128deg, rgb(2, 88, 25), rgba(0, 0, 0, 0) 70.71%),
                linear-gradient(329deg, rgb(2, 2, 70), rgba(0, 0, 0, 0) 70.71%)
                !important;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    margin: 15px;
  }
