* {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
  }

  /* The section below is for CSS for the sample pictures imported*/
  body {
    text-align: center;
    font-weight: 300;
    font-family: "Fira Sans", sans-serif;
    background: linear-gradient(217deg, rgba(245, 1, 1, 0.8), rgba(196, 165, 165, 0.197) 70.71%),
    linear-gradient(127deg, rgba(166, 9, 239, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(114, 114, 216, 0) 70.71%) !important;
  }
  
  div {
    margin-top: 15px;

  }
  
  .image-section {
    display: flex;
    justify-content: center;
  }
  
  .section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
  }
  /* The section above is for CSS for the sample pictures imported*/
  
  #button {
    background: rgb(255, 255, 255);
    background-blend-mode: darken;
    background-size: cover;
  }
  
  .footer {
  background-color: rgb(196, 31, 31);
  }
  
  .nav-list {
    width: 70%;
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo img {
    width: 180px;
    border-radius: 50px;
  }
  
  .nav-list li {
    list-style: none;
    padding: 26px 30px;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #fffcfc;
  }
  
  .nav-list li a:hover {
    color: grey;
  }
  
  .rightnav {
    width: 30%;
    text-align: right;
  }
  
  #search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 9px;
  }
  
  .box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(167, 85, 85);
    max-width: 80%;
    margin: auto;
    height: 80%;
  }
  
  .firsthalf {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .secondhalf {
    width: 30%;
  }
  
  .secondhalf img {
    width: 70%;
    border: 4px solid rgb(179, 78, 78);
    border-radius: 150px;
    display: block;
    margin: auto;
  }
  
  .text-big {
    font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
  }
  
  .text-small {
    font-size: 18px;
  }
  
  .btn {
  margin-left: 20px;
  height: 33px;
  width: 70px;
    color: #a42929;
  background-color: #000;
    cursor: pointer;
  }
  
  .btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
  }
  
  .section {
    height: 200px;
    display: flex;
    align-items: center;
    background-color: rgb(26, 153, 94);
    justify-content: space-between;
  }
  
  .section-Left {
    flex-direction: row-reverse;
  }
  
  .center {
    text-align: center;
  }
  
  .text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: rgb(173, 48, 48);
  }
  
  p {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
  }